---
layout: default-core
baseurl: ../
title: Amazon Career Choice
description: >-
  Choice empowers employees to learn new skills
  for career success at Amazon or elsewhere.
form_heading: Request Information
background_image: /assets/img/Z92_1634_2.jpg
# background_image_caption: Adrian Benfield, Class of 2017
no_alert: true
_inputs:
  no_alert:
    hidden: true
---
{% include amazon-career-choice_header.html %}
<main class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col pt-0">
        <div class="my-5">
          <div class="text-center float-none float-lg-right">
            <img
              src="{{ page.baseurl }}uploads/amazon-career-choice_rgb_amazon-orange.png"
              class="img-fluid px-3 pb-3"
              height="71"
              width="300"
              alt="Amazon | Career Choice"
            >
          </div>
          <div class="editable">
            <p class="typography__larger-p">
              KCC is excited to partner with Amazon Career Choice to help you do what you love
              and reach your goals! Eligible Amazon Associates can apply their Career Choice
              benefits to complete a certificate or associate degree at KCC.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include amazon-career-choice_benefits.html %}
  {% include amazon-career-choice_bottom-action-call.html %}
</main>
