---
layout: default-compress
baseurl:
title: KCC
homepage: true
no_alert: true
description: >-
  KCC's mission is 'Enhancing quality of life through learning.' KCC offers
  programs and services for all learners and the community.
video_loading_image: uploads/kcc-highlights2_thumb_no-text.jpg
video_loading_image_alt: Aerial photo of the main KCC campus
video_sources:
  - src: https://cdn.kcc.edu/core/home-page-video_2022-08-04_crf30-an.webm
    type: video/webm
  - src: https://cdn.kcc.edu/core/home-page-video_2022-08-04_an.mp4
    type: video/mp4
  - src: https://cdn.kcc.edu/core/home-page-registration-video_2021_v7_an.ogv
    type: video/ogg
slides:
  - image: /uploads/visit-kcc-web-banner-2.jpg
    alt-text: >-
      Discover what KCC has to offer your! Regular tours. Explore KCC Days.
      visit.kcc.edu
    url: https://visit.kcc.edu
    white_background: false
  - image: /uploads/CompTIA-web-banner-fall-22.png
    alt-text: >-
      Start your IT career - CompTIA® Authorized Partner - CompTIA ITF+ & 
      CompTIA A+ Academic Partner - Classes start soon — Learn more!  (KCC -
      Continuing Education & Career Services.)
    url: https://itcert.kcc.edu
    white_background: true
  - image: /uploads/free-tuition_banner_2023.jpg
    alt-text: >-
      Free Tuition and paths to good-paying jobs. Local jobs are waiting, and
      KCC tuition could be free when you enroll in manufacturing, welding or
      electrical engineering technology programs. Get started at
      https://skills.kcc.edu
    url: https://skills.kcc.edu
    white_background: false
  - image: /uploads/2023-gap-year-banner.jpg
    alt-text: Gap Year KCC Program, Person sitting holding a laptop
    url: https://continuinged.kcc.edu/career-services/request-info/
    white_background: false
---
<main class="position__offset-core-nav">
{% include video-header.html %}
{% include emergency-alerts.html %}
      <div class="container-fluid benefits__background-color pt-3">
        <div class="container mt-3">
          {% include main-call-to-action-copy.html %}
        </div>
        <div class="container py-5">
          {% include hero-slider.html %}
        </div>
      </div>
    <div class="py-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col margins__col--top section__heading-underline--transparent">
            <h5 class="typography__section--heading margins__heading--btm editable">Why Choose KCC?</h5>
          </div>
        </div>
        <div class="container pt-1 pb-5">
          <div class="row">
            <div id="colSave" class="col-12 col-md-4">
              <div class="text-center">
{% include svg/save-money.html %}
              </div>
              <h6 class="benefits__typography--h6 text-center editable">Save Money</h6>
              <div class="editable">
                <p class="text-center typography__larger-p">
                  <strong>KCC costs 1/3 less</strong> than 4-year colleges and universities and offers the same great education. Plus, financial aid & scholarships can&nbsp;help.</p>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="text-center">
{% include svg/love.html %}
              </div>
              <h6 class="benefits__typography--h6 text-center editable">Love What You Do</h6>
              <p class="text-center typography__larger-p">
                KCC has degree & certificate <strong>options to fit your interests</strong>. 
                You can transfer after KCC to complete a bachelor’s degree, or enter the&nbsp;workforce.</p>
            </div>
            <div class="col-12 col-md-4">
              <div class="text-center">
{% include svg/goals.html %}
              </div>
              <h6 class="benefits__typography--h6 text-center editable">Reach Your Goals</h6>
              <p class="text-center typography__larger-p">
                We care about your progress and want you to succeed. 
                KCC’s small class sizes, faculty and support services 
                <strong>help you stay on track to&nbsp;graduate.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background__color--tan py-5">
      <div class="container">
        <div class="row mb-5">
          <div class="col margins__col--top section__heading-underline--transparent">
            <h5 class="typography__section--heading margins__heading--btm editable">What Our Students Say</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 text-center">
            <img src="{{ page.baseurl }}assets/img/placeholder_square.jpg" data-src="{{ page.baseurl }}uploads/morgan-dorsey2.jpg" class="benefits__borders--circle-img img-fluid rounded-circle" width="350px" height="350px" alt="Morgan Dorsey" />
          </div>
          <div class="col-12 col-md-8 align-self-center">
            <p class="benefits__typography--student-p">
              <em>&ldquo;My college experience has been great. This was the perfect decision. I have confidence that I will find a job
                and that I will be successful in this career.&rdquo;</em>
            </p>
            <span class="benefits__typography--img-cap">-&nbsp;Morgan Dorsey, student in the Radiography program</span>
          </div>
        </div>
        <div class="row benefits__row--pad">
          <div class="col-12 col-md-8 order-2 order-md-1 align-self-center">
            <p class="benefits__typography--student-p"><em>&ldquo;I decided to take a gap year. Then the pandemic hit. I needed something
              to look forward to, and now I’m working towards my dream. It’s the best thing I’ve felt in a long time. This is a
              career, this is a livelihood, this is something you can be passionate about. I feel inspired every day.&rdquo;</em></p>
            <span class="benefits__typography--img-cap">-&nbsp;Noah Stack, student in the Agriculture/Horticulture program</span>
          </div>
          <div class="col-12 col-md-4 text-center order-1 order-md-2">
            <img src="{{ page.baseurl }}assets/img/placeholder_square.jpg" data-src="{{ page.baseurl }}uploads/noah-stack.jpg" class="benefits__borders--circle-img img-fluid rounded-circle" width="350px" height="350px" alt="Noah Stack" />
          </div>
        </div>
      </div>
    </div>
      {% comment %}
      <div class="benefits__background-color py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col margins__col--top section__heading-underline--transparent">
              <h5 class="typography__section--heading margins__heading--btm editable">Recognized & Accredited</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 text-center text-lg-left">
              <div class="benefits__accredited--card mx-auto">
                <div class="text-center">
{% include svg/check.html %}
                  <span class="benefits__accredited--span-l">KCC  is Accredited</span>
                  <span class="benefits__accredited--span-s">by the Higher Learning Commission (hlcommission.org), a regional accreditation agency recognized by the U.S. Department of Education.</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
              <img src="{{ page.baseurl }}assets/img/zippia.png" class="benefits__idfpr-img img-fluid" alt="#1 community college in Illinois for job placement according to Zippia.com" />
              <span class="benefits__accredited--span--source text-left w-50 mx-auto">Source: Zippia.com</span>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row">
                <div class="col">
                  <img src="{{ page.baseurl }}assets/img/itransfer.png" alt="Illinois Itransfer logo" class="benefits__itransfer-img float-right
                  float-ls-none" />
                </div>
                <div class="col">
                  <span class="benefits__typography-itransfer">Illinois<br /> Transfer<br /> Articulation<br /></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div class="container mt-3">
        <div class="row mb-1">
          <div class="col margins__col--top section__heading-underline--transparent">
            <h5 class="typography__section--heading margins__heading--btm editable">News & Events</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="news"></div>
            <div class="text-center">
              <a href="https://news.kcc.edu" class="btn btn-primary">More News</a>
            </div>
          </div>
          <div class="col-md-6">
            <div data-tockify-component="calendar" data-tockify-calendar="kankakeecc"></div>
            <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
          </div>
        </div>
      </div>
    </main>
