---
layout: default-core
baseurl: ''
title: KCC Startup Template
homepage: true
description: ''
video_sources:
  - src: https://cdn.kcc.edu/core/community.webm
    type: video/webm
  - src: https://cdn.kcc.edu/core/community.mp4
    type: video/mp4
  - src: https://cdn.kcc.edu/core/community.ogv
    type: video/ogg
---

<main>
  <div class="container-fluid padding__x--none">
    <div class="row">
      <div class="col position__video-wrapper">
        <video autoplay muted loop id="videoElement" class="width__full">
          {% for source in page.video_sources %}
          <source src="{{ source.src }}" type="{{ source.type }}" >
          {% endfor %}
          Your browser does not support the HTML5 video tag.
        </video>
        <div class="position__video-controls" id="videoControls">
          <button type="button" id="playPause" class="position__video-constrols--button buttons__play-pause play pause"><span class="sr-only">Pause</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 px-1 my-1">
        <a class="btn buttons__action"
        target="_blank"
        rel="noopener noreferrer"
        href="https://kccedu.force.com/portal/TX_SiteLogin?startURL=%2Fportal%2FTargetX_Base__Portal">
          {% include svg/check_circle-24px.html %}&nbsp;Apply Online
         </a>
      </div>
      <div class="col-md-4 px-1 my-1">
        <a class="btn buttons__action"
        target="_blank"
        rel="noopener noreferrer"
         href="https://info.kcc.edu">
           {% include svg/email-24px.html %}&nbsp;Request Info
         </a>
      </div>
      <div class="col-md-4 px-1 my-1">
        <a class="btn buttons__action"
        target="_blank"
        rel="noopener noreferrer"
        href="https://visit.kcc.edu">
           {% include svg/place-24px.html %}&nbsp;Visit KCC
         </a>
      </div>
    </div>
  </div>
</main>
