<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="/help Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/help" />
                   </conditions>
                   <action type="Redirect" url="https://form.jotform.com/81775152814965" redirectType="Permanent"/>
                 </rule>
                 <rule name="Athletics Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/athletics" />
                   </conditions>
                   <action type="Redirect" url="https://athletics.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="WIOA Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/wioa" />
                   </conditions>
                   <action type="Redirect" url="https://wioa.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="ContinuingEd Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/continuinged" />
                   </conditions>
                   <action type="Redirect" url="https://continuinged.kcc.edu" redirectType="Permanent"/>
                 </rule>
                 <rule name="Career Options Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/careeroptions" />
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/future/Pages/career-options.aspx" />
                   </conditions>
                   <action type="Redirect" url="https://www.kcc.edu/academics/careeroptions" redirectType="Permanent"/>
                 </rule>
                 <rule name="kcc.edu/Pages/Home.aspx Redirect" stopProcessing="true">
                   <match url="(.*)" />
                   <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                      <add input="{HTTP_HOST}{REQUEST_URI}" pattern="(.*).kcc.edu/Pages/Home.aspx" />
                   </conditions>
                   <action type="Redirect" url="https://www.kcc.edu" redirectType="Permanent"/>
                 </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <caching enabled="true" enableKernelCache="true">
         <profiles>
            <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".pdf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
         </profiles>
      </caching>
    </system.webServer>
</configuration>
