<section class="benefits__first-section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="text-center benefits__typography--h5  benefits__typography--h5--mb">
          Why Choose KCC?
        </h5>
      </div>
    </div>
    <div class="row">
      <div id="colSave" class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/save-money.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Earn More</h6>
        <div class="editable">
          <p class="text-center typography__larger-p">
            KCC gradates typically earn $750,000 more in lifetime earnings than
            those with only a high school diploma.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/love.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Love What You Do</h6>
        <p class="text-center typography__larger-p">
          KCC has degree & certificate <strong>options to fit your interests</strong>.
          You can transfer after KCC to complete a bachelor's degree, or enter
          the&nbsp;workforce.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <div class="text-center">
          {% include svg/goals.html %}
        </div>
        <h6 class="benefits__typography--h6 text-center editable">Reach Your Goals</h6>
        <p class="text-center typography__larger-p">
          We care about your progress and want you to succeed. KCC's small class sizes,
          faculty and support services <strong>help you stay on track to&nbsp;graduate.</strong>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__testimonials--mb text-center">What Our Students Say</h5>
      </div>
    </div>
    <div class="row mb-5 mb-lg-0">
      <div class="col-12 col-md-4 text-center">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/robert-billings_jhd_8038.jpg"
          class="benefits__borders--circle-img img-fluid rounded-circle"
          height="284px"
          width="284px"
          alt="Robert Billings holding a backpack while outside the Riverfront Campus">
      </div>
      <div class="col-12 col-md-8 align-self-center">
        <p class="benefits__typography--student-p"><em>
          I took two years off (after high school). I just didn't have the money for college.
          So, I didn't go. I tried to go the normal route, get a regular job. Didn't work for me.
          Once I figured out what I wanted to do—that school could help me—I came back. 
          As a KCC student, when you come in you have got to have a desire not to fail. 
          And it's been the best decision I ever made. Being in college (has) opened a lot 
          of doors for me.
        </em></p>
        <span class="benefits__typography--img-cap ml-5">&mdash;&nbsp;Robert&nbsp;Billings, Current&nbsp;Student</span>
      </div>
    </div>
    <div class="row benefits__row--pad">
      <div class="col-12 col-md-8 order-2 order-md-1 align-self-center">
        <p class="benefits__typography--student-p"><em>
          KCC has been the best choice when choosing what college to go to, all the professors 
          are very helpful and if you need anything, they will always help no matter the situation! 
          KCC is an amazing college and even if you have doubts, it's definitely worth giving it a 
          shot because you won't be disappointed!
        </em></p>
        <span class="benefits__typography--img-cap ml-5">&mdash;&nbsp;Adriana&nbsp;Lowery&#8209;Garcia, Current&nbsp;Student</span>
      </div>
      <div class="col-12 col-md-4 text-center order-1 order-md-2">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/adriana-lowery-garcia_jhd_6983.jpg"
          class="benefits__borders--circle-img img-fluid rounded-circle"
          height="284px"
          width="284px"
          alt="Adriana Lowery-Garcia wearing a purple backpack in the Riverfront Campus courtyard">
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg benefits__blue-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__typography--h5--mb text-center">Recognized & Accredited</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-4 text-center text-lg-left my-auto pt-4 pt-lg-0">
        <div class="benefits__accredited--card mx-auto">
          <div class="text-center">
            {% include svg/check.html %}
            <span class="benefits__accredited--span-l">KCC  is Accredited</span>
            <span class="benefits__accredited--span-s">
              by the Higher Learning Commission (hlcommission.org), a regional accreditation
              agency recognized by the U.S. Department of Education.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center my-auto">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/MFS23-24_Gold_800x800.png"
          class="benefits__idfpr-img img-fluid"
          height="300"
          width="300"
          alt="'23-23 Gold Military Friendly School® award"
        >
      </div>
      <div class="col-12 col-lg-4 text-center my-auto">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/learn-org_top-50-best_vertical.svg"
          class="img-fluid"
          height="374.42px"
          width="330px"
          role="img"
          alt="Top 50 best trade schools programs 2020-21 school year - Learn.org recognized school."
        >
      </div>
      <div class="col-12 col-lg-4 offset-lg-2 text-center my-auto">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/readers-choice_daily-journal_first-place.svg"
          class="img-fluid"
          height="418.14px"
          width="460px"
          role="img"
          alt="Daily Journal - best of the best - readers choice awards - djreaderschoice.com - the official community's choice awards - first place best college/university"
        >
      </div>
      <div class="col-12 col-lg-4 text-center my-lg-auto my-3">
        <img
          src="{{ page.baseurl }}assets/img/placeholder_square.jpg"
          data-src="{{ page.baseurl }}assets/img/iai-logo.jpg"
          class="img-fluid"
          height="172.97px"
          width="340px"
          alt="Illinois Articulation Initiative - www.iTransfer.org"
        >
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__typography--h5--mb text-center">
          Career Services
        </h5>
        <p class="typography__larger-p">
          KCC offers Career Services activities and resources that help you explore
          careers, prepare you for employment, and guide you in transferring to other colleges,
          all of which sets you on a path toward career success. KCC professionals offer resume
          review, interview preparation and employer connections. Here&apos;s how you can benefit
          from Career Development Counseling:
        </p>
        <ul>
          <li class="typography__larger-p">Increase your self-confidence</li>
          <li class="typography__larger-p">Improve your opportunity for college and career success</li>
          <li class="typography__larger-p">Become more marketable upon graduation</li>
          <li class="typography__larger-p">Be better prepared for your future</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="benefits__section--marg benefits__blue-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="benefits__typography--h5 benefits__typography--h5--mb text-center">
          Frequently Asked Questions
        </h5>
        <p class="typography__larger-p">
          <strong>How much will it cost to earn my degree?</strong><br>
          KCC is committed to making your education as affordable as possible. Tuition is
          currently $155 per credit hour, plus $19 in fees, for a total of $174 per credit
          hour. A full-time course load is 12 to 15 credit hours. Your Amazon Career Choice
          benefit covers $5,250 per year for full-time Amazon associates and $2,625 for
          part-time employees. If you decide to take more credit hours beyond your voucher
          allotment, your academic advisor will make you aware of scholarship opportunities
          and other financial aid resources.
        </p>
        <p class="typography__larger-p">
          <strong>Am I eligible to enroll?</strong><br>
          If you've been a U.S. Amazon employee (full time or part time) for 90 days or more,
          and have a high school diploma or GED, you may be eligible to enroll at KCC through
          Amazon Career Choice. Talk to your <a href="/student-resources/advising/">KCC advisor</a>
          to learn more.
        </p>
      </div>
    </div>
  </div>
</section>
