      <div class="container-fluid">
        <div class="row">
          <div class="col position__video-wrapper padding__x--none">
            <div id="videoContainer">
              <div id="video"
                data-videos="{% for source in page.video_sources %}{{ source.src }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}"
                data-video-types="{% for source in page.video_sources %}{{ source.type }}{% unless forloop.last == true %}, {% endunless %}{% endfor %}"
                data-poster="{{ page.baseurl }}{{ page.video_loading_image }}">
                <img src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg" data-src="{{ page.baseurl }}{{ page.video_loading_image }}" class="img__full-width" alt="{{ page.video_loading_image_alt }}">
              </div>
            </div>
            <div id="videoControls"
              class="position__video-controls video__controls--hidden"
              aria-hidden="true">
              <button id="playPause"
                type="button"
                class="position__video-constrols--button buttons__play-pause play pause">
                  <span class="sr-only">Pause</span>
              </button>
            </div>
            <div class="position__video-heading--wrapper video__heading-wrapper--unclickable">
              <h2 class="typography__video-heading">
                The&nbsp;<span class="typography__video-heading--power">POWER</span> of&nbsp;Community
            </div>
          </div>
        </div>
      </div>