// Header styles
// ==========================================

//.header__bg {
//  background-image: url('/assets/img/DSC_8724_4x3.jpg');
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//  height: 55%;
//  height: 55vh;
//}

//@media screen and (min-width: 1200px) {
//  .header__bg {
//    height: auto;
//  }
//}

@media screen and (min-width: 1100px) {
  .header__bg {
    height: 60%;
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  .header__bg {
    height: 65%;
    height: 65vh;
  }
}

@media screen and (min-width: 1300px) {
  .header__bg {
    height: 70%;
    height: 70vh;
  }
}

// @ 1450px wide the form is in the same row as the background image
@media screen and (min-width: 1450px) {
  .header__bg {
    height: auto;
  }
}

.header--logo-shadow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, .75));
}

.header__margin-top {
  margin-top: 100px;
}

@media screen and (min-width: 992px) {
  .header__margin-top {
    margin-top: 97px;
  }
}
