.video__controls {
  display: block;
  &--hidden {
    display: none;
  }
}

.video__heading--margin { // Make sure the "The POWER of Community" heading doesn't overlap the pause-button for the video.
  margin-right: 7rem;
}

.video__heading-wrapper--unclickable {
  pointer-events: none;
}

#pause,
#play {
  fill: $primary-red;
  height: 22px;
  width: 22px;
}

@media screen and (min-width: 400px) {
  #pause,
  #play {
    width: 32px;
    height: 32px;
  }
}
