.video__controls {
  display: block;
  &--hidden {
    display: none;
  }
}

.video__heading-wrapper--unclickable {
  pointer-events: none;
}

#pause,
#play {
  fill: $primary-red;
  height: 22px;
  width: 22px;
}

@media screen and (min-width: 400px) {
  #pause,
  #play {
    width: 32px;
    height: 32px;
  }
}

// Remove this rule if the video-heading and video-heading--wrapper
// are added back into the DOM.
@media screen and (min-width: 1600px) {
  #videoContainer {
    position: relative;
    bottom: 12vh;
  }
}
