<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "CollegeOrUniversity",
    "@id": "https://www.kcc.edu/#CollegeOrUniversity",
    "name": "Kankakee Community College",
    "alternateName": "KCC",
    "url": "https://www.kcc.edu",
    "description": "KCC's mission is \"Enhancing quality of life through learning.\" KCC offers programs and services for all learners and the community.",
    "slogan": "Enhancing quality of life through learning.",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "100 College Drive",
      "addressLocality": "Kankakee",
      "addressRegion": "IL",
      "postalCode": "60901",
      "addressCountry": "US"
    },
    "areaServed": "Illinois Community College District 520, which includes all of Kankakee and portions of Ford, Grundy, Iroquois, Livingston and Will counties",
    "telephone": "+1-815-802-8100",
    "logo": "https://www.kcc.edu/logo.svg",
    "smokingAllowed": false,
    "publicAccess": true,
    "sameAs": [
      "https://www.facebook.com/KankakeeCommunityCollege/",
      "https://twitter.com/KCCedu",
      "https://www.instagram.com/kccedu/",
      "https://www.youtube.com/@KankakeeCommCollege",
      "https://www.pinterest.com/kccedu/",
      "https://www.linkedin.com/company/kankakee-community-college",
      "https://kcc.smartcatalogiq.com/"
    ],
    "subOrganization": [
      {
        "@type": "EducationalOrganization",
        "name": "Kankakee Community College South Extension Center",
        "telephone": "+1-815-802-8780",
        "smokingAllowed": false,
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "1488 E Walnut St",
          "addressLocality": "Watseka",
          "addressRegion": "IL",
          "postalCode": "60970",
          "addressCountry": "US"
        },
        "parentOrganization": {
          "@id": "https://www.kcc.edu/#CollegeOrUniversity"
        }
      },
      {
        "@type": "EducationalOrganization",
        "name": "Kankakee Community College North Extension Center",
        "telephone": "+1-815-802-8960",
        "smokingAllowed": false,
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "450 N Bradley Blvd",
          "addressLocality": "Bradley",
          "addressRegion": "IL",
          "postalCode": "60915",
          "addressCountry": "US"
        },
        "parentOrganization": {
          "@id": "https://www.kcc.edu/#CollegeOrUniversity"
        }
      }
    ]
  }
</script>
