---
title: 'Creating Accessible Documents'
layout: default-core
baseurl: '../../'
core-alert-offset: true
banner_image:
banner_alt_text:
disclaimer: >-
  Disclaimer: KCC is neither affiliated with nor authorized, sponsored, or approved by Adobe, Google, or Microsoft Corporation.
---
<main id="content" class="container">
  <div class="row">
    <div class="col">
      {% include breadcrumbs-core.html %}
      {% if page.banner_image and page.banner_image != '' %}
        {% assign first_char = page.banner_image | slice: 0 %}
        {% if first_char == '/' %}
          {% assign banner = page.banner_image | remove_first: '/' %}
        {% else %}
          {% assign banner = page.banner_image %}
        {% endif %}
        <div class="text-center">
          <img
          role="img"
          src="{{ page.baseurl }}{{ banner }}"
          class="img-fluid"
          alt="{{ page.banner_alt_text | replace: '"', '&quot;' }}">
        </div>
          <br>
      {% endif %}
      <h2 class="typography__h2">{{ page.title }}</h2>
      <br>
      <hr>
      <br>
      {% if page.disclaimer and page.disclaimer != '' %}
      <p><small>{{ page.disclaimer }}</small></p>
      {% endif %}
      <div class="editable">
        <h3 class="typography__h3">Overview</h3>
        <p>
          This guide explains how to make accessible Microsoft Word Documents and Adobe PDF files. Word documents are often used
          to generate PDF files. For these PDF documents to be accessible, they need to be created from accessible Word documents.
        </p>
        <br>
        <hr>
        <br>
        <h3 class="typography__h3">Accessible Templates</h3>
        <p>
          Microsoft Word offers accessible templates that have the following improvements:
        </p>
        <ul>
          <li>Better color contrast</li>
          <li>Meaningful alt text</li>
          <li>Simple table structures</li>
          <li>Larger font size</li>
          <li>Input messages</li>
          <li>And more</li>
        </ul>
        <p>
          You can find accessible templates online or in Microsoft Word.
        </p>
        <h4 class="typography__h4">Online</h4>
        <ol>
          <li>
            Go to <a href="https://create.microsoft.com/" class="links__launch" target="_blank" rel="noopener noreferrer">create.microsoft.com<span class="visually-hidden"> (opens in new tab/window)</span></a>.
          </li>
          <li>
            Searching for "accessible templates".
          </li>
        </ol>
        <h4 class="typography__h4">Within Word</h4>
        <ol>
          <li>
            Go to <strong>File &gt; New</strong>.
          </li>
          <li>
            Type "accessible templates" in the <em>Search for online templates</em> box.
          </li>
        </ol>
        <p>
          More information can be found on Microsoft's <a href="https://support.microsoft.com/en-us/office/get-accessible-templates-for-office-ca086caa-2bd2-4ac8-8c12-4cd495bd4d76" class="links__launch" target="_blank" rel="noopener noreferrer">Get accessible templates for Office<span class="visually-hidden"> (opens in new tab/window)</span></a> page.
        </p>
        <br>
        <hr>
        <br>
        <h3 class="typography__h3">Styles</h3>
        <p>
          Microsoft Word offers built-in styles to add headings, paragraphs, quotes, and other elements. These styles are semantic and not just visual.
          They tell screen readers that the text or element has a specific function.
        </p>
        <p>
          Do not create everything as normal text and then increase font-size, boldness and/or change the font-family to make it look like a heading.
          Instead, you should use Word's predefined heading and other styles. If these styles don't have the look you want, you should
          create your own styles and/or modify existing ones. You cannot create new heading styles, but you can modify the existing ones.
        </p>
        <div class="text-center">
          <figure class="figure">
            <img
              data-src="{{ page.baseurl }}uploads/accessibility-doc-creation_word-styles.jpg"
              src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
              class="img-fluid figure__img"
              height="257"
              width="800"
              alt="Screenshot of a Word document on the 'Home' tab with a green rectangle highlighting the 'Styles' panel">
            <figcaption class="figure__figcaption">Screenshot showing the <strong>Styles</strong> panel of the <strong>Home</strong> tab.</figcaption>
          </figure>
        </div>
        <p>
          To apply heading (or other) styles:
        </p>
        <ol>
          <li>Select the text.</li>
          <li>From the <strong>Home</strong> tab, in the <strong>Styles</strong> panel, select the heading (or other style) you want to apply.</li>
        </ol>
        <h4 class="typography__h4">Modify Heading Styles</h4>
        <ol>
          <li>
            Right-click on the style you want to change and select <strong>Modify...</strong>.<br>
            <figure class="figure">
              <img
                data-src="{{ page.baseurl }}uploads/accessibility-doc-creation_modify-styles.jpg"
                src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                height="296"
                width="680"
                class="img-fluid figure__img"
                alt="Screenshot of a Word document showing the menu from right-clicking the 'Heading 1' style with a green rectangle highlighting the 'Modify...' option">
              <figcaption class="figure__figcaption text-center">Screenshot showing the <strong>Modify...</strong> option when right-clicking a style.</figcaption>
            </figure>
          </li>
          <li>
            The <strong>Modify Style</strong> window will appear where you can change the styling (<strong>Formatting</strong>).<br>
            <figure class="figure">
              <img
                data-src="{{ page.baseurl }}uploads/accessibility-doc-creation_modify-styles-window.jpg"
                src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
                height="715"
                width="680"
                class="img-fluid figure__img"
                alt="Screenshot of a Word document showing the menu from right-clicking the 'Heading 1' style with a green rectangle highlighting the 'Modify...' option">
              <figcaption class="figure__figcaption text-center">Screenshot showing the <strong>Modify Styles</strong> window.</figcaption>
            </figure>
          </li>
          <li>Selecting the <strong>Add to template</strong> checkbox will save your modifications to the default template used to create new documents (Normal.dotm).</li>
        </ol>
        <p>
          <strong>Note:</strong> Modifying a style will change it throughout the whole document. For example, modifying the Heading 2 style will affect all elements that already have Heading 2 applied.
        </p>
        <br>
        <hr>
        <br>
        <h3 class="typography__h3">Headings</h3>
        <p>
          Use appropriate heading levels. This allows screen readers to create an ordered list of all headings in the
          document making it easier to navigate the&nbsp;document.
        </p>
        <p>
          You should have only one heading 1. Ideally, your heading 1 should be the main heading for the entire document.
          Do not skip heading levels.
        </p>
        <p>
          <strong>Bad example:</strong>
        </p>
        <figure class="figure">
          <img
            data-src="{{ page.baseurl }}uploads/accessibility-doc-creation_headings-bad.jpg"
            src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
            class="img-fluid figure__img"
            height="241"
            width="700"
            alt="Screenshot of a Word document's table of contents where the order is heading 1, heading 3, heading 2, heading 1, heading 2, and heading 4">
          <figcaption class="figure__figcaption text-center">Screenshot of a bad heading example with multiple heading 1s and skipped heading levels.</figcaption>
        </figure>
        <p>
          <strong>Good example:</strong>
        </p>
        <figure class="figure">
          <img
            data-src="{{ page.baseurl }}uploads/accessibility-doc-creation_headings-good.jpg"
            src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
            class="img-fluid figure__img"
            height="235"
            width="700"
            alt="Screenshot of a Word document's table of contents where the order is heading 1, heading 2, heading 3, heading 2, heading 2, heading 3, heading 4, and heading 5">
          <figcaption class="figure__figcaption text-center">Screenshot of a good heading example.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</main>
