---
title: 'Creating accessible social media posts'
layout: default-core
baseurl: '../../'
core-alert-offset: true
banner_image:
banner_alt_text:
disclaimer:
---
<main id="content" class="container">
  <div class="row">
    <div class="col">
      {% include breadcrumbs-core.html %}
      {% if page.banner_image and page.banner_image != '' %}
        {% assign first_char = page.banner_image | slice: 0 %}
        {% if first_char == '/' %}
          {% assign banner = page.banner_image | remove_first: '/' %}
        {% else %}
          {% assign banner = page.banner_image %}
        {% endif %}
        <div class="text-center">
          <img
          role="img"
          src="../../{{ banner }}"
          class="img-fluid"
          alt="{{ page.banner_alt_text | replace: '"', '&quot;' }}">
        </div>
          <br>
      {% endif %}
      <h2 class="typography__h2">{{ page.title }}</h2>
      <hr class="my-5">
      {% if page.disclaimer and page.disclaimer != '' %}
      <p><small>{{ page.disclaimer }}</small></p>
      {% endif %}
      <h3 class="typography__h3 links__offset">Overview</h3>
      <p>
        Social media is a powerful tool for communication and engagement. It's essential to follow best practices
        when creating social media posts to ensure that your content is accessible to all users, including those
        with disabilities.
      </p>
      <hr class="my-5">
      <h3 class="typography__h3 links__offset">Contents</h3>
      <ul>
        <li>
          <a href="#social-alt-text">Alternative text for graphics</a>
          <ul>
            <li><a href="#facebook-alt-text">Alternative text in Facebook</a></li>
            <li><a href="#instagram-alt-text">Alternative text in Instagram</a></li>
            <li><a href="#x-alt-text">Alternative text in X</a></li>
            <li><a href="#tik-tok-alt-text">Alternative text in Tik Tok</a></li>
          </ul>
        </li>
      </ul>
      <hr class="my-5">
      <h3 class="typography__h3 links__offset" id="social-alt-text">Alternative text for graphics</h3>
      <p>
        Alternative text, or alt text, is a text description of an image that is provided when the image is not
        available. Alt text is not only for users who rely on screen readers but also for those with slow internet
        connections or who have images disabled in their browsers. Always include alternative text (alt text) for
        images, infographics, and other visual content.
      </p>
      <p>See <a href="../#alt-text">alternative text</a> for more information on writing proper descriptions for your images.</p>
      <h4 id="facebook-alt-text" class="typography__h4 links__offset">Alternative text in Facebook</h4>
      {% include tabbed-content.html disable_links_offset="true" %}
      <h4 id="instagram-alt-text" class="typography__h4">Alternative text in Instagram</h4>
      <ul class="nav nav-tabs navTabs" id="instagram-alt" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="instagram-computer-label" data-bs-toggle="tab" data-bs-target="#instagram-computer" type="target" role="tab" aria-controls="instagram-computer" aria-selected="true">Computers</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="instagram-iphone-label" data-bs-toggle="tab" data-bs-target="#instagram-iphone" type="target" role="tab" aria-controls="instagram-iphone" aria-selected="false">iPhone app</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="instagram-android-label" data-bs-toggle="tab" data-bs-target="#instagram-android" type="target" role="tab" aria-controls="instagram-android" aria-selected="false">Android app</button>
        </li>
      </ul>
      <div class="tab-content mt-3 px-1" id="instagram-alt-content">
        <div class="tab-pane fade show active" id="instagram-computer" role="tabpanel" aria-labelledby="instagram-computer-label" tabindex="0">
          <h5 class="typography__h5">Computers</h5>
          <h6 class="typography__h6">For new posts</h6>
          <ol>
            <li>Upload a photo to Instagram.</li>
            <li>After choosing a filter and editing the image, choose <strong>Next</strong>.</li>
            <li>Select <strong>Accessibility</strong>, then write the alt text in the box.</li>
            <li>Select <strong>Share</strong> to post the image.</li>
          </ol>
          <h6 class="typography__h6">For existing posts</h6>
          <ol>
            <li>Above your photo or video, select <strong><span class="material-icons positioning--v-align-icon">more_horiz</span> Options</strong>.</li>
            <li>Select <strong>Edit</strong>.</li>
            <li>Choose <strong>Accessibility</strong>, then write the alt text in the box.</li>
            <li>Select <strong>Done</strong> to save the changes.</li>
          </ol>
        </div>
        <div class="tab-pane fade" id="instagram-iphone" role="tabpanel" aria-labelledby="instagram-iphone-label" tabindex="0">
          <h5 class="typography__h5">iPhone app</h5>
          <h6 class="typography__h6">For new posts</h6>
          <ol>
            <li>Upload a photo to Instagram.</li>
            <li>Choose a filter and edit the image. Tap <strong>Next</strong>.</li>
            <li>Tap <strong>More options</strong>.</li>
            <li>Tap <strong>Write alt text</strong>.</li>
            <li>Enter the alt text and tap <strong>Done</strong>.</li>
          </ol>
          <h6 class="typography__h6">For existing posts</h6>
          <ol>
            <li>Go to the photo and tap <strong><span class="material-icons positioning--v-align-icon">more_horiz</span> Options</strong>.</li>
            <li>Tap <strong>Edit</strong>.</li>
            <li>Tap <strong>Edit Alt Text</strong> in the bottom right.</li>
            <li>Enter the alt text in the box and tap <strong>Done</strong>.</li>
          </ol>
        </div>
        <div class="tab-pane fade" id="instagram-android" role="tabpanel" aria-labelledby="instagram-android-label" tabindex="0">
          <h5 class="typography__h5">Android app</h5>
          <h6 class="typography__h6">For new posts</h6>
          <ol>
            <li>Upload a photo to Instagram.</li>
            <li>Choose a filter and edit the image. Tap <strong>Next</strong>.</li>
            <li>Tap <strong>More options</strong>.</li>
            <li>Tap <strong>Write alt text</strong>.</li>
            <li>Enter the alt text and tap <strong>Done</strong>.</li>
          </ol>
          <h6 class="typography__h6">For existing posts</h6>
          <ol>
            <li>Go to the photo and tap <strong><span class="material-icons positioning--v-align-icon">more_vert</span> Options</strong>.</li>
            <li>Tap <strong>Edit</strong>.</li>
            <li>Tap <strong>Edit alt text</strong> in the bottom right.</li>
            <li>Enter the alt text in the box and tap <strong><span class="material-icons positioning--v-align-icon">check</span> Done</strong>.</li>
          </ol>
        </div>
      </div>
      <br>
      <hr>
      <h4 id="x-alt-text" class="typography__h4">Alternative text in X</h4>
      <p>In X, alternative text is called <em>image descriptions</em>.</p>
      <ul class="nav nav-tabs navTabs" id="x-alt" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="x-computer-label" data-bs-toggle="tab" data-bs-target="#x-computer" type="target" role="tab" aria-controls="x-computer" aria-selected="true">Computers</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="x-iphone-label" data-bs-toggle="tab" data-bs-target="#x-iphone" type="target" role="tab" aria-controls="x-iphone" aria-selected="false">iPhone app</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="x-android-label" data-bs-toggle="tab" data-bs-target="#x-android" type="target" role="tab" aria-controls="x-android" aria-selected="false">Android app</button>
        </li>
      </ul>
      <div class="tab-content mt-3 px-1" id="x-alt-content">
        <div class="tab-pane fade show active" id="x-computer" role="tabpanel" aria-labelledby="x-computer-label" tabindex="0">
          <h5 class="typography__h5">Computers</h5>
          <ol>
            <li>After uploading an image, select <strong>Add description</strong> (underneath the image).</li>
            <li>
              Enter a description of the image in the text box.<br>
              X allows a maximum description length of 1,000 characters.
            </li>
            <li>
              Select <strong>Save</strong>.<br>
              An "ALT" badge will appear in the corner of the image.
            </li>
            <li>Select <strong>post</strong>.</li>
          </ol>
          <p>
            If you add more than one image to your post, you'll see arrows at the top of the dialog that allow
            you to navigate to each image to add the descriptions.
          </p>
        </div>
        <div class="tab-pane fade" id="x-iphone" role="tabpanel" aria-labelledby="x-iphone-label" tabindex="0">
          <h5 class="typography__h5">iPhone app</h5>
          <ol>
            <li>After uploading an image, select the <strong>+ALT</strong> button on the image.</li>
            <li>
              Enter a description of the image in the text box.<br>
              X allows a maximum description length of 1,000 characters.
            </li>
            <li>
              Select <strong>Done</strong>.<br>
              An "ALT" badge will appear in the corner of the image.
            </li>
            <li>Select <strong>post</strong>.</li>
          </ol>
          <p>
            If you add more than one image to your post, you'll see arrows at the top of the dialog that allow
            you to navigate to each image to add the descriptions.
          </p>
        </div>
        <div class="tab-pane fade" id="x-android" role="tabpanel" aria-labelledby="x-android-label" tabindex="0">
          <h5 class="typography__h5">Android app</h5>
          <ol>
            <li>After uploading an image, select the <strong>+ALT</strong> button on the image.</li>
            <li>
              Enter a description of the image in the text box.<br>
              X allows a maximum description length of 1,000 characters.
            </li>
            <li>
              Select <strong>Done</strong>.<br>
              An "ALT" badge will appear in the corner of the image.
            </li>
            <li>Select <strong>post</strong>.</li>
          </ol>
          <p>
            If you add more than one image to your post, you'll see arrows at the top of the dialog that allow
            you to navigate to each image to add the descriptions.
          </p>
        </div>
      </div>
      <br>
      <hr>
      <h4 id="tik-tok-alt-text" class="typography__h4">Alternative text in Tik Tok</h4>
      <h5 class="typography__h5">For new posts</h5>
      <ol>
        <li>Upload or create a photo and tap <strong>Next</strong>.</li>
        <li>On the post screen, tap <strong>More options</strong>.</li>
        <li>Tap <strong>Add alternative text</strong>.</li>
        <li>Enter the alt text next to the photo(s).</li>
        <li>Tap <strong>Done</strong>.</li>
      </ol>
      <h5 class="typography__h5">For existing posts</h5>
      <ol>
        <li>Tap the <strong>More options &hellip;</strong> button on the side of the photo you want to add alt text to.</li>
        <li>Tap <strong>Edit post</strong> at the bottom.</li>
        <li>Tap <strong>Add alternative text</strong>.</li>
        <li>Enter the alt text next to the photo(s).</li>
        <li>Tap <strong>Done</strong>.</li>
      </ol>
    </div>
  </div>
</main>
